<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Readex+Pro&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Mulish&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arial&display=swap"
      rel="stylesheet"
    />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="v869_1694">
      <div class="v869_1695">
        <div class="v869_1696">
          <span class="v870_2525">AI App Marketplace</span>
          <div class="v869_1700">
            <div class="v869_1701">
              <div class="v869_1702">
                <div class="v869_1703"></div>
                <div class="v869_1704"></div>
              </div>
            </div>
            <span class="v869_1705">Search ( Ctrl + k)</span>
          </div>
        </div>
        <div class="v869_1706">
          <div class="v869_1707"><span class="v869_1708">Submit</span></div>
          <div class="v869_1709">
            <div class="v869_1710">
              <div class="v869_1711"></div>
              <div class="v869_1712"></div>
              <div class="v869_1713">
                <div class="v869_1714">
                  <div class="v869_1715"></div>
                  <div class="v869_1716"></div>
                </div>
              </div>
            </div>
            <div class="v869_1717">
              <div class="v869_1718"></div>
              <div class="v869_1719">
                <div class="v869_1720">
                  <div class="v869_1721"></div>
                  <div class="v869_1722"></div>
                </div>
              </div>
            </div>
            <div class="v869_1723"></div>
          </div>
        </div>
        <div class="v869_1724">
          <div class="v869_1725">
            <div class="v869_1726">
              <div class="v869_1727">
                <div class="v869_1728"></div>
                <div class="v869_1729"></div>
                <div class="v869_1730"></div>
              </div>
            </div>
            <span class="v869_1731">Apps</span>
          </div>
          <div class="v869_1732">
            <div class="v869_1733">
              <div class="v869_1734">
                <div class="v869_1735"></div>
                <div class="v869_1736"></div>
                <div class="v869_1737"></div>
              </div>
            </div>
            <span class="v869_1738">Marketplace</span>
          </div>
        </div>
      </div>
      <div class="v869_1745">
        <div class="v869_1746">
          <div class="v869_1747"><span class="v869_1748">Products</span></div>
          <div class="v869_1749">
            <div class="v869_1750">
              <div class="v869_1751"><div class="v869_1752"></div></div>
              <span class="v869_1753">Explore</span>
            </div>
            <div class="v869_1754">
              <div class="v869_1755">
                <div class="v869_1756">
                  <div class="v869_1757"><div class="v869_1758"></div></div>
                  <div class="v869_1759"></div>
                  <div class="v869_1760"></div>
                  <div class="v869_1761"></div>
                  <div class="v869_1762"></div>
                  <div class="v869_1763"><div class="v869_1764"></div></div>
                  <div class="v869_1765"><div class="v869_1766"></div></div>
                  <div class="v869_1767"><div class="v869_1768"></div></div>
                  <div class="v869_1769"><div class="v869_1770"></div></div>
                  <div class="v869_1771"><div class="v869_1772"></div></div>
                  <div class="v869_1773"><div class="v869_1774"></div></div>
                  <div class="v869_1775"><div class="v869_1776"></div></div>
                  <div class="v869_1777"><div class="v869_1778"></div></div>
                  <div class="v869_1779"><div class="v869_1780"></div></div>
                  <div class="v869_1781"><div class="v869_1782"></div></div>
                  <div class="v869_1783">
                    <div class="v869_1784"></div>
                    <div class="v869_1785"></div>
                  </div>
                  <div class="v869_1786"><div class="v869_1787"></div></div>
                  <div class="v869_1788"><div class="v869_1789"></div></div>
                  <div class="v869_1790"><div class="v869_1791"></div></div>
                  <div class="v869_1792"></div>
                  <div class="v869_1793"></div>
                  <div class="v869_1794"></div>
                  <div class="v869_1795"></div>
                  <div class="v869_1796"></div>
                  <div class="v869_1797"></div>
                </div>
              </div>
              <span class="v869_1798">Coming soon</span>
            </div>
            <div class="v869_1799">
              <div class="v869_1800"><div class="v869_1801"></div></div>
              <span class="v869_1802">App questions</span>
            </div>
            <div class="v869_1803">
              <div class="v869_1804"><div class="v869_1805"></div></div>
              <span class="v869_1806">Launch Archive</span>
            </div>
            <div class="v869_1807">
              <div class="v869_1808"><div class="v869_1809"></div></div>
              <span class="v869_1810">Newsletter</span>
            </div>
          </div>
        </div>
        <div class="v869_1811">
          <div class="v869_1812"><span class="v869_1813">Community</span></div>
          <div class="v869_1814">
            <div class="v869_1815">
              <div class="v869_1816"><div class="v869_1817"></div></div>
              <span class="v869_1818">Discussions</span>
            </div>
            <div class="v869_1819">
              <div class="v869_1820"><div class="v869_1821"></div></div>
              <span class="v869_1822">Stories</span>
            </div>
            <div class="v869_1823"><span class="v869_1824">... More</span></div>
          </div>
        </div>
      </div>
      <div class="v869_1825">
        <div class="v869_1826">
          <div class="v869_1827">
            <div class="v869_1828">
              <div class="v869_1829"></div>
              <div class="v869_1830"></div>
            </div>
          </div>
          <span class="v869_1831">Featured</span>
          <div class="v869_1832"><div class="v869_1833"></div></div>
        </div>
        <div class="v869_1834">
          <div class="v869_1835">
            <div class="v869_1836">
              <div class="v869_1837"></div>
              <div class="v869_1838"></div>
            </div>
          </div>
          <span class="v869_1839"></span>
          <div class="v869_1840"><div class="v869_1841"></div></div>
        </div>
        <div class="v869_1842">
          <div class="v869_1843">
            <div class="v869_1844">
              <div class="v869_1845"></div>
              <div class="v869_1846"></div>
              <div class="v869_1847"></div>
            </div>
          </div>
          <span class="v869_1848">Today</span>
          <div class="v869_1849"><div class="v869_1850"></div></div>
        </div>
      </div>
      <div class="v869_1851">
        <div class="v869_1852">
          <span class="v869_1853">Top Charts</span>
          <div class="v869_1854">
            <span class="v869_1855">Featured</span>
            <div class="v869_1856"><div class="v869_1857"></div></div>
          </div>
        </div>
        <div class="v869_1858">
          <div class="v869_1859">
            <div class="v869_1860">
              <div class="v869_1861"></div>
              <div class="v869_1862"><div class="v869_1863"></div></div>
            </div>
            <div class="v869_1864">
              <div class="v869_1865">
                <span class="v869_1866">folk 2.0</span>
                <div class="v869_1867">
                  <div class="v869_1868">
                    <div class="v869_1869"></div>
                    <div class="v869_1870"></div>
                  </div>
                </div>
              </div>
              <span class="v869_1871">The intelligent CRM</span>
              <div class="v869_1872">
                <span class="v869_1873">Free Option</span>
                <div class="v869_1874"></div>
                <span class="v869_1875">Productivity</span>
              </div>
            </div>
            <div class="v869_1876">
              <div class="v869_1877"><div class="v869_1878"></div></div>
              <span class="v869_1879">1,294</span>
            </div>
            <div class="v869_1880">
              <div class="v869_1881">
                <div class="v869_1882"></div>
                <div class="v869_1883"></div>
              </div>
            </div>
          </div>
          <div class="v869_1884">
            <div class="v869_1885">
              <div class="v869_1886"></div>
              <div class="v869_1887">
                <div class="v869_1888">
                  <div class="v869_1889">
                    <div class="v869_1890">
                      <div class="v869_1891">
                        <div class="v869_1892">
                          <div class="v869_1893">
                            <div class="v869_1894">
                              <div class="v869_1895"></div>
                              <div class="v869_1896"></div>
                              <div class="v869_1897"></div>
                              <div class="v869_1898"></div>
                              <div class="v869_1899"></div>
                              <div class="v869_1900"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="v869_1901">
              <span class="v869_1902">Dokably</span
              ><span class="v869_1903"
                >One workspace for your work docs, tasks, and whiteboards</span
              >
              <div class="v869_1904">
                <span class="v869_1905">Free Option</span>
                <div class="v869_1906"></div>
                <span class="v869_1907">Productivity</span>
              </div>
            </div>
            <div class="v869_1908">
              <div class="v869_1909"><div class="v869_1910"></div></div>
              <span class="v869_1911">663</span>
            </div>
          </div>
          <div class="v869_1912">
            <div class="v869_1913">
              <div class="v869_1914"></div>
              <div class="v869_1915">
                <div class="v869_1916"><div class="v869_1917"></div></div>
              </div>
            </div>
            <div class="v869_1918">
              <span class="v869_1919">Prelaunch.com</span
              ><span class="v869_1920">Product validation platform</span>
              <div class="v869_1921">
                <span class="v869_1922">Free</span>
                <div class="v869_1923"></div>
                <span class="v869_1924">Productivity</span>
              </div>
            </div>
            <div class="v869_1925">
              <div class="v869_1926"><div class="v869_1927"></div></div>
              <span class="v869_1928">396</span>
            </div>
          </div>
          <div class="name"></div>
          <div class="v869_1930">
            <div class="v869_1931"><div class="v869_1932"></div></div>
            <div class="v869_1933">
              <span class="v869_1934"
                >0 to 45K users in 12 months: Our journey 🚀</span
              ><span class="v869_1935"
                >🚀 We wanted to build an AI-powered productivity assistant. 📧
                Prior to development,</span
              >
              <div class="v869_1936">
                <span class="v869_1937">By Busra in Launch tips</span>
                <div class="v869_1938"></div>
                <span class="v869_1939">Join the discussion</span>
                <div class="v869_1940"></div>
                <span class="v869_1941">More discussions</span>
              </div>
            </div>
            <div class="v869_1942">
              <div class="v869_1943"><div class="v869_1944"></div></div>
              <span class="v869_1945">1,805</span>
            </div>
          </div>
          <div class="name"></div>
          <div class="v869_1947">
            <div class="v869_1948">
              <div class="v869_1949"></div>
              <div class="v869_1950">
                <div class="v869_1951">
                  <div class="v869_1952"></div>
                  <div class="v869_1953"></div>
                  <div class="v869_1954">
                    <div class="v869_1955"></div>
                    <div class="v869_1956"></div>
                    <div class="v869_1957"></div>
                    <div class="v869_1958"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="v869_1959">
              <span class="v869_1960">Sessions</span
              ><span class="v869_1961"
                >Supercharge your webinars and workshops with AI</span
              >
              <div class="v869_1962">
                <span class="v869_1963">Free Option</span>
                <div class="v869_1964"></div>
                <span class="v869_1965">Productivity</span>
              </div>
            </div>
            <div class="v869_1966">
              <div class="v869_1967"><div class="v869_1968"></div></div>
              <span class="v869_1969">660</span>
            </div>
          </div>
        </div>
      </div>
      <div class="v869_1970">
        <div class="v869_1971">
          <span class="v869_1972">Trending topics</span>
          <div class="v869_1973">
            <div class="v869_1974">
              <div class="v869_1975">
                <span class="v869_1976">Artificial Intelligence</span>
              </div>
              <div class="v869_1977">
                <span class="v869_1978">Productivity</span>
              </div>
              <div class="v869_1979">
                <span class="v869_1980">Marketing</span>
              </div>
            </div>
            <div class="v869_1981">
              <div class="v869_1982"><span class="v869_1983">Tech</span></div>
              <div class="v869_1984"><span class="v869_1985">SaaS</span></div>
            </div>
          </div>
        </div>
        <div class="name"></div>
        <div class="v869_1987">
          <div class="v869_1988">
            <span class="v869_1989">Suggested for you</span>
            <div class="v869_1990">
              <div class="v869_1991">
                <div class="v869_1992"></div>
                <div class="v869_1993"></div>
              </div>
            </div>
          </div>
          <div class="v869_1994">
            <div class="v869_1995">
              <div class="v869_1996">
                <div class="v869_1997"></div>
                <div class="v869_1998">
                  <div class="v869_1999">
                    <div class="v869_2000"></div>
                    <div class="v869_2001"></div>
                  </div>
                </div>
              </div>
              <div class="v869_2002">
                <span class="v869_2003">The Collect Button</span
                ><span class="v869_2004"
                  >Transform anything on your website ...</span
                >
                <div class="v869_2005">
                  <span class="v869_2006">Free</span>
                  <div class="v869_2007"></div>
                  <span class="v869_2008">Productivity</span>
                  <div class="v869_2009"></div>
                  <span class="v869_2010">4/5</span>
                </div>
              </div>
            </div>
            <div class="v869_2011">
              <div class="v869_2012">
                <div class="v869_2013"></div>
                <div class="v869_2014">
                  <div class="v869_2015">
                    <div class="v869_2016"></div>
                    <div class="v869_2017"></div>
                  </div>
                </div>
              </div>
              <div class="v869_2018">
                <span class="v869_2019">Parsio 2.0</span
                ><span class="v869_2020"
                  >Automate data extraction with AI ...</span
                >
                <div class="v869_2021">
                  <span class="v869_2022">Free Option</span>
                  <div class="v869_2023"></div>
                  <span class="v869_2024">SaaS</span>
                  <div class="v869_2025"></div>
                  <span class="v869_2026">4/5</span>
                </div>
              </div>
            </div>
            <div class="v869_2027">
              <div class="v869_2028">
                <div class="v869_2029"></div>
                <div class="v869_2030">
                  <div class="v869_2031">
                    <div class="v869_2032">
                      <div class="v869_2033"></div>
                      <div class="v869_2034"></div>
                      <div class="v869_2035"></div>
                    </div>
                    <div class="v869_2036"></div>
                  </div>
                </div>
              </div>
              <div class="v869_2037">
                <span class="v869_2038">Acorn Box</span
                ><span class="v869_2039">Acorn Protocol Mobile Wallet</span>
                <div class="v869_2040">
                  <span class="v869_2041">Free</span>
                  <div class="v869_2042"></div>
                  <span class="v869_2043">Finance</span>
                  <div class="v869_2044"></div>
                  <span class="v869_2045">4/5</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="name"></div>
        <div class="v869_2047">
          <div class="v869_2048">
            <span class="v869_2049">Coming Soon</span>
            <div class="v869_2050">
              <div class="v869_2051">
                <div class="v869_2052"></div>
                <div class="v869_2053"></div>
              </div>
            </div>
          </div>
          <div class="v869_2054">
            <div class="v869_2055">
              <div class="v869_2056">
                <div class="v869_2057"></div>
                <div class="v869_2058">
                  <div class="v869_2059">
                    <div class="v869_2060"></div>
                    <div class="v869_2061"></div>
                  </div>
                </div>
              </div>
              <div class="v869_2062">
                <span class="v869_2063">The Collect Button</span
                ><span class="v869_2064"
                  >Transform anything on your website ...</span
                >
                <div class="v869_2065">
                  <span class="v869_2066">Free</span>
                  <div class="v869_2067"></div>
                  <span class="v869_2068">Productivity</span>
                  <div class="v869_2069"></div>
                  <span class="v869_2070">4/5</span>
                </div>
              </div>
            </div>
            <div class="v869_2071">
              <div class="v869_2072">
                <div class="v869_2073"></div>
                <div class="v869_2074">
                  <div class="v869_2075">
                    <div class="v869_2076"></div>
                    <div class="v869_2077"></div>
                  </div>
                </div>
              </div>
              <div class="v869_2078">
                <span class="v869_2079">Parsio 2.0</span
                ><span class="v869_2080"
                  >Automate data extraction with AI ...</span
                >
                <div class="v869_2081">
                  <span class="v869_2082">Free Option</span>
                  <div class="v869_2083"></div>
                  <span class="v869_2084">SaaS</span>
                  <div class="v869_2085"></div>
                  <span class="v869_2086">4/5</span>
                </div>
              </div>
            </div>
            <div class="v869_2087">
              <div class="v869_2088">
                <div class="v869_2089"></div>
                <div class="v869_2090">
                  <div class="v869_2091">
                    <div class="v869_2092">
                      <div class="v869_2093"></div>
                      <div class="v869_2094"></div>
                      <div class="v869_2095"></div>
                    </div>
                    <div class="v869_2096"></div>
                  </div>
                </div>
              </div>
              <div class="v869_2097">
                <span class="v869_2098">Acorn Box</span
                ><span class="v869_2099">Acorn Protocol Mobile Wallet</span>
                <div class="v869_2100">
                  <span class="v869_2101">Free</span>
                  <div class="v869_2102"></div>
                  <span class="v869_2103">Finance</span>
                  <div class="v869_2104"></div>
                  <span class="v869_2105">4/5</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
